.user-image   {
    max-width: 50px;
    max-height: 50px;
    border-radius: 20px;
    border: solid 0.5px; 
}

.chat-message {
    padding: 2px; 
    border: solid 0.5px black;
    border-radius: 10px;
    background-color: lightgreen;
    margin-bottom: 10px;

}

.chat-message.current {
    background-color: lightblue;
    text-align: right;
    height: 70px;
    
}

.chat-message.current .user-image{
    
    float: right;
}